.footer{
  background-color: $main-gray;
  color: #fff;
  padding: 50px 0 0px;
  height: 100vh;
  .conclusion{
    // font-weight: 300;
    // letter-spacing: 1px;
    text-transform: capitalize;
    background-color: #1d1d1d;
    margin: 0;
    padding: 12px 0 8px;
  }
  .tail{
  }
  span{
    color: $main-yellow;
    display: block;
    font-size: 88px;
    margin-bottom: 20px;
  }
}
