.back-shape{
  width: 100%;
  height: 80vh;
  margin: auto;
  background-image:linear-gradient(to right,#11998e,#38ef7d);
  border-bottom-right-radius: 200px;
}
.home{
  height: 2000px;
  .banner{
    position: relative;
    h1{
      margin-top: -15px;
      margin-bottom: 10px;
      span{
        color: $main-yellow;
      }
    }
    .text{
      padding-left: 50px;
      p{
        color: #fff;
        font-size: 22px;
        font-weight: 300;
      }
    }
    .svg-shape{
      position: absolute;
      top: 100px;
      right: 150px;
      img{
        width: 300px;
      }
    }
  }
}
