// Variables
$main-yellow:  #ffe005;
$main-gray:    #202020;
$main-lGray:   #6a6a6a;
$main-tGray:   #525252;
$main-llGray:  #8c8c8c;
// Placeholders
%box-shadow{
  box-shadow: 0 -5px 10px 2px #ccc;
}
%cover{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
